body, * {
   cursor: url(pixel.png),default;
   overflow: hidden;
   font-family: courier;
}

#pizza_cursor {
   background-image: url(pizza.png);
   width: 283;
   height: 277;
   position: absolute;
   pointer-events: none;
}

#background {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: -9999;
}

h3 {
   font-size: 32px;
   font-weight: normal;
}

.fb-like {
    left: 10px;
    bottom: 10px;
    position: absolute;
    width: 50px;
}